
.services{
    opacity: 60%;
    &:hover{
        opacity: 80%;
    }
}

  #servicesH1{
    text-decoration: none;
    position: absolute;
    top: 40%;
    right: 20%;
    background-image: linear-gradient(90.92deg, #AD0A0A 0%, rgba(139, 23, 23, 0.9243) 13.28%, rgba(129, 24, 24, 0.835518) 28.85%, rgba(90, 37, 37, 0.69) 54.37%, rgba(106, 31, 31, 0.827103) 70.95%, #AD0A0A 91.86%, rgba(173, 10, 10, 0) 112.01%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    &:hover{
        color: rgba(173, 10, 10, 1);
    }
  }

  .fade-enter,
  .fade-leave-to {
    visibility: hidden;
    width: 100%;
  }
  
  img {
    height: 100%;
    width: 100%;
  }

  .ServicesLogo{
    position: absolute;
    top: 70%;
    right: 2%;
  }

  #AsteriaCarServices{
    font-family: 'Faster One', cursive;
    position: absolute;
    color: black;
    top: 30%;
    right: 12%;
  }
  .outsideServices{
    &:hover{
        #servicesH1{
            color: rgba(173, 10, 10, 1);
        }
        .ServicesLogo{
            background-color: white;
        }
    }
  }